body{
	font-family: verdana;
	overflow-y: scroll;
	overflow-x: hidden;
	cursor: default;
	
}


.content::-webkit-scrollbar { 
	display: none;
}

.barra1{
	background: #fc7323;
	height: 30px;
	margin-bottom: 20px;
}
.barra2{
	background: #238276;
	height: 30px;
	margin-bottom: 20px;
}
.barra3{
	background: #59b548;
	height: 30px;
	margin-bottom: 20px;
}
.partelogo{
	text-align: center;
	height: 130px;
}

#sin_resultados{
	width: 61%;
	margin: 0%;
	margin-left: 25%;
}

.partemenu{	
	height: 130px;
}


#lere{
	width: auto;
	height: 100%;	
}

/*  MENU MENU MENU MENU */

header{
	width: 100%;	
	height: 54px;
	margin-top: 8px;
}

label img{
	width: 30px;
}

#btn-menu{
	display: none;
}
header label{
	display: none;
	width: 50px;
	height: 54px;
	padding: 10px;
	border-right: 1px solid #ffff;
}
header label:hover{

	cursor: pointer;
	background-color: #fc7323;
	padding-right: 20px;
}
.menu{
	position:absolute; z-index:1;
	background: #59b548;
	margin-top: 30px;
}
.menu ul {
	margin: 0;
	list-style: none;
	padding: 0px;
	display: flex;
	justify-content: center;
}

.menu ul li:hover{
	background: #fc7323;
}

.menu ul ul {
	display: none;
}
.menu ul {
	margin: 0;
	list-style: none;
	padding: 0px;
	display: flex;
	justify-content: center;
}
.menu ul ul {
	display: none;
}

.menu a {
	display: block; 
	color: white;
	text-decoration: none;
	text-align: center;
	width: 180px;
	padding-top: 11px;
	padding-bottom: 18px;
}
.menu a i {
	margin-left: 7px;
}

.menu ul li:hover ul {	
	display: block;
	position: absolute;
	background-color: #fc7323;
	width: 180px;
	margin-top: 0px;
}

@media (max-width: 1199px){

	header label{
		display: block;		
	}

	header{
		background: #59b548;
	}

	
	.menu{
		position: absolute;
		background-color: #59b548;
		width: 90%;
		margin-left: -200%;
		transition: all 0.10s;
	}

	.menu ul{
		flex-direction: column;
	}
	.menu li{
		border-top: 1px solid white;
	}

	#btn-menu:checked ~ .menu{
		margin: 0;
	}
	.menu ul li:hover{
		background: #fc7323 !important;
	}
}

/*  MENU MENU MENU MENU */

.panel{
	height: 550px;
	background: #ADD8E6;
	margin-top: 20px;
	text-align: center;
	
}
.catalogo{
	text-align: center;
	padding: 0px;
}
.divis{
	height: 200px;
	background: red;
	margin-top: 80px;
}

.categorias{
	width: 100%;
	height: 50px;
}
.elegircate h1{
	font-size: 27px;
	text-align: center;
	color: black;
}

.product-item{
	background:	white;
	border-style: solid;
	border-width: 2px;
	border-color: #fc7323;
	width: 260px;
	height: auto;
	float: left;
	margin: 20px;
	margin-right: 0px;	
	padding: 15px;
}

.product-item p{
	text-align: left;
	font-size: 15px;
	
}

#tituproye{
	height: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

}

#descripcion{
	height: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.products-list{
	width: 100%;
	height: auto;	
	text-align: center;
	margin-bottom: 5%;
}

#categoria{
	height: 40px;
	margin-bottom: 0px;
}

.imagenreto{
	
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;	
	padding: 12px;
}

.imagenreto img{
	width: 100%;
	height: 150px;
}
#documento1_validar{
	display: none;	
	width: 30%;
}
#documento2_validar{
	display: none;
    width: 30%;
}
#validar_propuesta{
	display: none;
    width: 30%;
}

#validar_repetido{
	display: none;
    width: 30%;
}
#validar_document{
	display: none;
    width: 30%;
}

#documento3_validar{
	display: none;
    width: 30%;
}
.form-control{
	background: white;
	border-radius: 3px;
	color: black;
}


.nombre1{	
	padding-top: 2px;
	height: 40px;
	text-align: center;
	font-size: 25px;
}


.btn:focus{
	box-shadow:none !important;
	outline: none !important;
}



.btn-primary{
	background: #fc7323;
	outline: none !important;
}

.btn-primary:hover{
	background: #238276;
}

.btn-success:hover{
	background: #238276;
}


.btn-success{
	background: #fc7323;
	outline: none !important;
}

.botonfiltrar{	
	margin-top: 50px;
}

.btn-success{
	margin-left: 20px;
	width: 100px;	
}


.btn-success a{
	text-decoration:none; 
	color: white;
}



#vermas{
	margin-top: 20px;
	height: auto;
	width: auto;
}
#contenido_reto{
	border: 4px solid #66CDAA;
	border-radius: 5px;
	height: auto;
	width: 80%;
	margin-left: 7%;
	font-size: 17px;
}

#imagen_muestra{	
	margin: 10px;
	margin-left: 30%;
	width: 40%;
	height: auto;	
	padding-left: 6%; 
	padding-right: 6%; 
}

#imagen_muestra img{
	width: 55%;
	height: 100%;
}

#opciones{
	margin: 2%;	
	
	align-content: center;
	text-align: center;


}

#echo_empresa{
	margin: 2%;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	height: 1%;
	overflow: hidden;
	
}

#echo_proyecto{
	margin: 2%;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;	
	overflow: hidden;
	
}
#areatexto{
	margin: 2%;
	
	width: 96%;	
	text-align: center;
}
#desc{
	margin: 2%;
	align-items: center;
	text-align: center;
	
}

#areatexto textarea{
	width: 80%;	
	border-left: none;	
	border-right: none;	
	color: black;
}


::placeholder{
	color: white;
}

.boton_aplicar1{
	text-align: center;
}

.boton_aplicar1 input, button{
	background-color: #fc7323;
	color: white;
	width: 20%;
}


.boton_aplicar1 input:hover, button:hover{
	background: #238276;
}

#dise{
	margin-left: 20px;
}
.uno{
	background-color: #fc7323;
	color: white;
	width: 50%;

}
.uno:hover{
	background: #238276;

}
.boton_aplicar1{
	width: 95%;
	height: 11%;
	margin: 2%;
	padding: 2%;
}
#btn_cancelar{
	height: 100%;
	width: 50%;
	float: left;
	margin: 0%;
	padding: 0%;
	text-align: center;
}

#btn_cancelar button{
	width: 70%;
	height: 100%;
	margin: 0%;
}

#aplicadook{
	width: 80%;
	height: auto;	
	margin-top: 15px;
}
.pagination{
	width: 100%;
	height: auto;
	margin-left: 25%;
}

.fotter{	
	background: #59b548;
	height: 30px;		
	position: fixed;
}
.cerrado{
	background: #59b548;
	height: 10%;
	width: 100%;
	text-align: center;
}
.cerrado h1{
	font-size: 30px;
}
.cerrado span{
	cursor: pointer;
	color: black;
}
.crosso{
	font-size: 2rem;
	float: right;
}
.formulario_aplicar{
	width: 100%;	
	margin-top: 1%;
	height: 85%;
}

#pruebita{
	display: none;
}
::placeholder{
	color: black;
}
.mens{
	display: none;
}


.formulario_aplicar span{
	margin-left: 160px;
}
.formulario_aplicar input{
	padding: 10px 10px 6px; 
	margin-right: 20px;
	margin-top: 20px;
	background: white;	
	border-radius: 6px;
	border: 1px solid #238276;
	width: 45%; 
	height: 10%;
	color: black;	
}
.formulario_aplicar textarea{
	margin-top: 5px;
	margin-left: 20%;
	background: rgba(0,0,0,.7);
	background: white;
	color: black;
	border: 2px outset #238276;
	border-radius: 6px;
}
.formulario_aplicar button{
	margin-top: 2%;
	width: 30%;
	height: 10%;
	margin-left: 35%;
}


.formulario_aplicar h2{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 0px;
	color: black;
}

/* PANEL PARA APLICAR AL RETO  */
.contenidoaplicar{
	width: 100%;
	height: auto;
	margin-left: 50px;
	border: 2px solid #C9C9C9;
	border-radius: 6px;
	margin-bottom: 15%;
}
.selectores{
	text-align: center;
}
.contenidoaplicar span{
	width: 100%;
	float: left;
}
.parte1{
	height: auto;
	margin-top: 3%;
}
.parte2{
	height: auto;
	margin-top: 3%;
	text-align: center;
}

.parte2 input{
	display: none;
}
.parte2 span{
	font-size: 5rem;
	color: #59321C;
}

.parte2 span:hover{
	cursor: pointer;
	color: #91BED4;
}


#name_archivo{
	width: 100%;
	height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



.selectores input{
	padding: 10px 10px 6px; 
	margin-right: 20px;
	margin-top: 20px;
	background: white;
	border: 3px solid #EBDCCF;
	border-radius: 4px;
	width: 40%;
	font-family: verdana;
	color: black;
	border-left: none;	
	border-right: none;
}

.selectores h1{
	text-align: center;
	color: black;
	margin-top: 10px;
}
.selectores h2{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 0px;
	color: black;
}
.parte1 textarea{
	height: 100%;
	width: 90%;
	margin-top: 5px;	
	background: white;
	color: black;
	border: 3px solid #EBDCCF;
	border-left: none;
	border-right: none;
}
#ocult{
	display: none;
}
#ajustar{
	width: 200px;
	height: 300px;
	background: red;
}
#remplazar{
	margin-top: 1%;
	margin-bottom: 0%;
	width: 50%;	
	text-align: center;
	margin-left: 20%;
}
.botones_reto{
	margin-top: 5%;
	text-align: center;
	width: 100%;
	padding: 2%;
}
.botones_reto input:hover{
	background: #238276;
}
.botones_reto input{
	background-color: #fc7323;
	color: white;
	width: 20%;
}

/* FIN PANEL PARA APLICAR AL RETO */


@media (max-width: 320px){

	#aplicadook {
		width: 100%;    
		margin-top: 15px;
		margin-bottom: 25%;
	}
	.contenidoaplicar {    
		margin-left: 0px;    
	}	
	.selectores{
		text-align: center;
	}
	.selectores textarea{				
		width: 90%;		
		background: white;
		color: black;
		border: 1px outset #238276;
		border-radius: 6px;
	}
	.selectores button{
		margin-top: 4%;
		width: 60%;
		height: 10%;
		margin-left: 20%;	
	}
	.selectores input{
		width: 75%;
		height: 8%;		
	}
	.selectores h1 {   
		font-size: 30px;    
	}
	.selectores h2{
		font-size: 25px;
		margin-top: 2%;
		margin-bottom: 2%;
	}
	.botones_reto input {
		width: 40%;
	}
	.product-item{
		width: 260px;
		text-align: center;
	}
	.boton_aplicar1 {
		width: 95%;    
	}
	.boton_aplicar1 input, button {    
		width: 41%;
	}	
	.barra1 {
		margin-bottom: 0px;
		height: 10px;
	}
	.barra2 {
		margin-bottom: 0px;
		height: 10px;
	}
	.barra3 {
		height: 10px;
	}
	.menu a {
		width: auto; 
	}
	#contenido_reto {
		width: 100%; 
		margin-left: 0%;   
	}	
	::placeholder{
		color: black;
	}
	.cerrado{
		background: #59b548;
		height: 5%;
		width: 100%;
		text-align: center;
	}
	.cerrado h1{
		color: white;
	}
	.cerrado span{
		margin: 1%;
		cursor: pointer;
		color: black;
	}
	.cerrado h1{
		font-size: 20px;
	}
	.crosso{
		font-size: 1.3rem;
		float: right;
	}
	.formulario_aplicar{
		width: 100%;			
		height: 90%;
	}
	.mens{
		display: none;
	}
	.selectores span{		
		margin-left: 15px;
	}
	.icon-users{
		height: 0%;
	}
	.btn-success {
		margin-left: 0%;
		width: 100%;
	}
	.partemenu {
		height: 88px;
	}
	
}




@media (min-width: 321px) and (max-width: 420px) {
	.contenidoaplicar {    
		margin-left: 0px;    
	}
	#aplicadook {
		width: 100%;
		margin-bottom: 25%; 
	}
	.selectores span{
		margin-left: 0px;
	}
	.selectores textarea{				
		width: 90%;		
		background: white;
		color: black;
		border: 1px outset #238276;
		border-radius: 6px;
	}
	.selectores button{
		margin-top: 4%;
		width: 60%;
		height: 10%;
		margin-left: 20%;	
	}
	.selectores input{
		width: 75%;
		height: 8%;		
	}
	.selectores h1 {   
		font-size: 30px;    
	}
	.selectores h2{
		font-size: 25px;
		margin-top: 2%;
		margin-bottom: 2%;
	}
	.boton_aplicar1 input, button {    
		width: 40%;
	}
	.botones_reto input {    
		width: 39%;
	}
	
	.partemenu {
		height: 70px;
	}
	.product-item{
		width: 90%;
		text-align: center;
	}
	.imagenreto img {
		width: 75%;
	}
		
	.menu a {
		width: auto;
	}
	#contenido_reto {
		width: 100%; 
		margin-left: 0%; 
	}
	.btn-success {
		margin-left: 0%;
		width: 100%;
	}
	::placeholder{
		color: black;
	}
	.cerrado{
		background: #59b548;
		height: 5%;
		width: 100%;
		text-align: center;
	}

	.cerrado h1{
		color: white;
	}

	.cerrado span{
		margin: 1%;
		cursor: pointer;
		color: black;
	}
	.cerrado h1{
		font-size: 20px;
	}
	.crosso{
		font-size: 1.3rem;
		float: right;
	}
	.formulario_aplicar{
		width: 100%;			
		height: 90%;
	}
	#pruebita{
		display: none;
	}
	.mens{
		display: none;
	}	
}



@media (min-width: 421px) and (max-width: 550px) {
	.contenidoaplicar {    
		margin-left: 0px;    
	}
	#aplicadook {
		width: 100%;
		margin-bottom: 25%;   
	}
	.selectores span{
		margin-left: 0px;
	}
	.selectores textarea{				
		width: 90%;		
		background: white;
		color: black;
		border: 1px outset #238276;
		border-radius: 6px;
	}
	.selectores button{
		margin-top: 4%;
		width: 60%;
		height: 10%;
		margin-left: 20%;	
	}
	.selectores input{
		width: 75%;
		height: 8%;		
	}
	.selectores h1 {   
		font-size: 30px;    
	}
	.selectores h2{
		font-size: 25px;
		margin-top: 2%;
		margin-bottom: 2%;
	}
	.boton_aplicar1 input, button {    
		width: 40%;
	}
	.botones_reto input {    
		width: 39%;
	}
	/*qweqwe*/
	.menu a {
		width: auto;
	}
	.partemenu {
		height: 70px;
	}
	.product-item{
		width: 90%;
		text-align: center;
	}
	.imagenreto img {
		width: 55%;  
	}

	

	#contenido_reto {
		width: 100%; 
		margin-left: 0%; 
	}
	.btn-success {
		width: 70%;
	}
	
	.selectores input{
		width: 60%;
		height: 8%;
	}

	::placeholder{
		color: black;
	}
	.cerrado{
		background: #59b548;
		height: 5%;
		width: 100%;
		text-align: center;
	}

	.cerrado h1{
		color: white;
	}

	.cerrado span{
		margin: 1%;
		cursor: pointer;
		color: black;
	}

	.cerrado h1{
		font-size: 20px;
	}
	.crosso{
		font-size: 1.3rem;
		float: right;
	}
	.formulario_aplicar{
		width: 100%;			
		height: 90%;
	}
	.mens{
		display: none;
	}
}




@media (min-width: 551px) and (max-width: 700px) {
	.contenidoaplicar {    
		margin-left: 0px;    
	}
	#areatexto textarea {
		width: 98%;
	}
	#aplicadook {
		width: 100%;
		margin-bottom: 25%;   
	}
	.selectores span{
		margin-left: 0px;
	}
	.selectores textarea{				
		width: 90%;		
		background: white;
		color: black;
		border: 1px outset #238276;
		border-radius: 6px;
	}
	.selectores button{
		margin-top: 4%;
		width: 60%;
		height: 10%;
		margin-left: 20%;	
	}
	.selectores input{
		width: 75%;
		height: 8%;		
	}
	.selectores h1 {   
		font-size: 30px;    
	}
	.selectores h2{
		font-size: 25px;
		margin-top: 2%;
		margin-bottom: 2%;
	}
	.boton_aplicar1 input, button {    
		width: 40%;
	}
	.botones_reto input {    
		width: 39%;
	}
	/*qweeeeeeeeeee*/
	.menu a {
		width: auto;
	}
	.product-item{
		width: 90%;
		text-align: center;
	}
	.imagenreto img {
		width: 60%;  
	}

	.partemenu {
		height: 70px;
	}

	
	#contenido_reto {
		width: 100%; 
		margin-left: 0%; 
	}
	.btn-success {  
		width: 70%;
	}
	::placeholder{
		color: black;
	}
	.cerrado{
		background: #59b548;
		height: 5%;
		width: 100%;
		text-align: center;	
	}
	.cerrado h1{
		color: white;
	}

	.cerrado span{
		margin: 1%;
		cursor: pointer;
		color: black;
	}
	.cerrado h1{
		font-size: 20px;
	}
	.crosso{
		font-size: 1.3rem;
		float: right;
	}
	.formulario_aplicar{
		width: 100%;			
		height: 90%;
	}
	.mens{
		display: none;
	}
}


@media (min-width: 701px) and (max-width: 767px) {
	.contenidoaplicar {    
		margin-left: 0px;    
	}
	#areatexto textarea {
		width: 98%;
	}
	#aplicadook {
		width: 100%;
		margin-bottom: 25%;   
	}
	.selectores span{
		margin-left: 0px;
	}
	.selectores textarea{				
		width: 90%;		
		background: white;
		color: black;
		border: 1px outset #238276;
		border-radius: 6px;
	}
	.selectores button{
		margin-top: 4%;
		width: 60%;
		height: 10%;
		margin-left: 20%;	
	}
	.selectores input{
		width: 75%;
		height: 8%;		
	}
	.selectores h1 {   
		font-size: 30px;    
	}
	.selectores h2{
		font-size: 25px;
		margin-top: 2%;
		margin-bottom: 2%;
	}
	.boton_aplicar1 input, button {    
		width: 40%;
	}
	.botones_reto input {    
		width: 39%;
	}
	/*asdasdasd*/
	.menu a {	
		width: auto;
	}
	.product-item{
		width: 93%;
		text-align: center;
	}
	.imagenreto img {
		width: 49%;  
	}
	.partemenu {
		height: 70px;
	}
	
	.btn-success {
		width: 50%;
	}
	#contenido_reto {
		width: 100%; 
		margin-left: 0%; 
	}
	::placeholder{
		color: black;
	}
	.cerrado h1{
		font-size: 20px;
	}
	.crosso{
		font-size: 1.3rem;
		float: right;
	}
	.formulario_aplicar{
		width: 100%;			
		height: 90%;
	}
	.mens{
		display: none;
	}
	.elegircate h1 {
		font-size: 21px;
	}
}






@media (min-width: 768px) and (max-width: 850px) {
	.contenidoaplicar {    
		margin-left: 10%;    
	}
	#areatexto textarea {
		width: 98%;
	}
	#aplicadook {
		width: 85%;
		margin-bottom: 25%;   
	}
	.selectores span{
		margin-left: 0px;
	}
	.selectores textarea{				
		width: 90%;		
		background: white;
		color: black;
		border: 1px outset #238276;
		border-radius: 6px;
	}
	.selectores button{
		margin-top: 4%;
		width: 60%;
		height: 10%;
		margin-left: 20%;	
	}
	.selectores input{
		width: 75%;
		height: 8%;		
	}
	.selectores h1 {   
		font-size: 30px;    
	}
	.selectores h2{
		font-size: 25px;
		margin-top: 2%;
		margin-bottom: 2%;
	}
	.boton_aplicar1 input, button {    
		width: 40%;
	}
	.botones_reto input {    
		width: 39%;
	}
	/*asdasd*/
	.elegircate h1 {
		font-size: 21px;
	}
	#contenido_reto {
		width: 90%;
		margin-left: 5%;
	}
	#areatexto textarea {
		width: 100%;
	}
	
	.product-item{
		width: 93%;
		text-align: center;
	}
	.imagenreto img {
		width: 49%;  
	}
	.btn-success {
		margin-left: 0%;
		width: 100%;
	}
	.selectores input{
		width: 60%;
		height: 8%;
	}

	::placeholder{
		color: black;
	}
	.cerrado{
		background: #59b548;
		height: 5%;
		width: 100%;
		text-align: center;
	}
	.cerrado h1{
		color: white;
	}
	.cerrado span{
		margin: 1%;
		cursor: pointer;
		color: black;
	}
	.cerrado h1{
		font-size: 20px;
	}
	.crosso{
		font-size: 1.3rem;
		float: right;
	}
	.formulario_aplicar{
		width: 100%;			
		height: 90%;
	}
	.mens{
		display: none;
	}
}


@media (min-width: 851px) and (max-width: 1199px) {
	.contenidoaplicar {    
		margin-left: 5%;    
	}
	#areatexto textarea {
		width: 98%;
	}
	#aplicadook {
		width: 85%;
		margin-bottom: 25%;   
	}
	.selectores span{
		margin-left: 0%;
	}
	.selectores textarea{				
		width: 90%;		
		background: white;
		color: black;
		border: 1px outset #238276;
		border-radius: 6px;
	}
	.selectores button{
		margin-top: 4%;
		width: 60%;
		height: 10%;
		margin-left: 20%;	
	}
	.selectores input{
		width: 75%;
		height: 8%;		
	}
	.selectores h1 {   
		font-size: 30px;    
	}
	.selectores h2{
		font-size: 25px;
		margin-top: 2%;
		margin-bottom: 2%;
	}
	.boton_aplicar1 input, button {    
		width: 40%;
	}
	.botones_reto input {    
		width: 39%;
	}
	/*asdasdasd*/
	.elegircate h1 {
		font-size: 21px;
	}
	#contenido_reto {
		width: 90%;
		margin-left: 5%;
	}
	#areatexto textarea {
		width: 100%;
	}
	.partemenu {
		height: 70px;
	}
	
	.product-item{
		margin-left: 10%;
		width: 80%;
	}
	.imagenreto img {
		width: 49%;  
	}
	.btn-success {
		margin-left: 0%;
		width: 100%;
	}
	::placeholder{
		color: black;
	}
	.cerrado{
		background: #59b548;
		height: 5%;
		width: 100%;
		text-align: center;		
	}
	.cerrado h1{
		color: white;
	}
	.cerrado span{
		margin: 1%;
		cursor: pointer;
		color: black;
	}
	.cerrado h1{
		font-size: 20px;
	}
	.crosso{
		font-size: 1.3rem;
		float: right;
	}
	.formulario_aplicar{
		width: 100%;			
		height: 90%;
	}
	.mens{
		display: none;
	}
}


/*         PANEL DE APLICAR A RETO       */    
/*         PANEL DE APLICAR A RETO       */    
/*         PANEL DE APLICAR A RETO       */    

